@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --border: 0, 0%, 20%;
    --gradient-start: 0 0% 93%;
    --gradient-end: 0 0% 97%;
    --accent: 177, 70%, 60%;
  }
  .dark {
    --background: 0, 0%, 0%;
    --foreground: 0, 0%, 100%;
    --border: 0, 0%, 80%;
    --gradient-start: 0 0% 7%;
    --gradient-end: 0 0% 3%;
    --accent: 177, 60%, 33%;
  }

  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
  }
  h3 {
    @apply text-xl;
  }

  #root {
    background: radial-gradient(
      circle,
      hsl(var(--gradient-start)) 15%,
      hsl(var(--gradient-end)) 55%
    );
  }
  #projects {
    background: radial-gradient(
      circle,
      hsl(var(--accent)) 3%,
      hsl(var(--gradient-end)) 90%
    );
  }
}
