@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0 0 0);
  --border: oklch(0.32 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.32 0 0);
}
.dark {
  --background: oklch(0.10 0 0);
  --foreground: oklch(1 0 0);
  --border: oklch(0.61 0 0);
  --secondary: oklch(0.23 0 0);
  --secondary-foreground: oklch(0.95 0 0);
}

@theme {
  --font-cormorant: var(--font-cormorant);
  --font-sans: var(--font-geist-sans);
  --font-gm: var(--font-geist-mono);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --animate-mutate-border: mutate-border 18s ease-in-out infinite;
  --animate-mutate-border-tl: mutate-border-tl 18s ease-in-out infinite;

  @keyframes mutate-border {
    0% {
      border-radius: 0;
    }
    40% {
      border-radius: 50px;
    }
    60% {
      border-radius: 50px;
    }
    100% {
      border-radius: 0;
    }
  }
  @keyframes mutate-border-tl {
    0% {
      border-top-left-radius: 0;
    }
    40% {
      border-top-left-radius: 50px;
    }
    60% {
      border-top-left-radius: 50px;
    }
    100% {
      border-top-left-radius: 0;
    }
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    @apply bg-background text-foreground underline-offset-2;
    font-family: var(--font-geist-sans);
  }
}
